* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

header h1 {
	margin: 0;
}

nav ul {
	display: flex;
	list-style: none;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 50px;
}

section {
	margin-bottom: 50px;
}

section h2 {
	margin-bottom: 20px;
}

section ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin-top: 20px;
}

section ul li {
	flex-basis: calc(50% - 20px);
	margin-right: 40px;
	margin-bottom: 40px;
}

section ul li:last-child {
	margin-right: 0;
}

section ul li a {
	display: block;
	position: relative;
}

section ul li img {
	width: 100%;
}

section ul li h3 {
	background-color: #333;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

section ul li:hover h3 {
    background-color: #fff;
    color: #333;
}

section ul li:hover img {
    opacity: 0.5;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav ul {
        margin-top: 20px;
    }

    section ul li {
        flex-basis: 100%;
        margin-right: 0;
    }
}
